extends layout

block content
  div#box
      h1 Today's Game
      p Based on you roster, we recommend #{home} vs #{away}.
      p It features #{score} of your players.
      p Tune in at #{time}.
      br