extends layout

block content
  h1= title
  p Welcome to #{title}! Paste your fantssy roster below:
  form(action="/games", method="post")
    label Enter your team name:
    br
    input(type="text", name="name", size=50)
    br
    label Paste roster here:
    br
    input(type="text", name="roster", size=50)
    br
    input(type="submit")